.intro {
  font-size: 30px;
  margin-top: 10px;
  margin-left: 5px;
  color: var(--font-color);
}
.name {
  font-family: "Playfair Display", serif;
  color: var(--font-color);
  font-size: 4rem;
  margin: -20px 0px 0px 5px;
}
.quote-intro p {
  /* font-family: "Courier Prime", monospace; */
  font-size: 16px;
  margin: 60px 0px auto;
  line-height: 1.5;
}
.quote-intro {
  display: block;
  border-left: 3px solid var(--font-color);
  padding: 0px 12px;
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  margin: 18px 10px 20px 5px;
  color: var(--font-color);
  /* margin-bottom: 20px; */
  /* margin-left: 10px; */
}
.background {
  /* background: rgb(247, 246, 243); */
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: space-around;
  height: 75vh;
  padding: 0px 20px 0px 20px;
  border-radius: 15px;
  margin: 0px 0px 20px 0px auto;
}

.image-container {
  margin-right: 50px;
  margin-left: 20px;
}
.profile-pic {
  width: 250px; /* Adjust the size */
  height: 250px; /* Make it a square */
  border-radius: 50%; /* Make the image circular */
  border: 5px solid var(--font-color);
}
