.education {
  display: flex;
  flex-direction: column;
}
.education-item {
  display: flex;
  justify-content: space-between;
}
.subheading {
  font-size: 25px;
  margin: 50px 0px 16px 0px;
  font-family: "Playfair Display", serif;
}
.e-heading1 {
  font-size: 16px;
  margin: 15px 10px 8px 0px;
}
.e-heading1-subheading {
  color: rgb(89, 89, 89);
  font-size: 16px;
  margin: -1px 0px 2px 0px;
}
.right-allign {
  text-align: right;
}
.date {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 8px;
}
.city {
  color: rgb(89, 89, 89);
  font-size: 16px;
  text-align: right;
}

.courses-list {
  background: rgb(247, 246, 243);
  border-radius: 15px;
  padding: 12px 10px 10px 30px;
  /* margin: 12px 10px 12px 10px; */
  margin: 12px 0px;
  font-family: "Courier Prime", monospace;
  font-size: 13px;
  width: 100%;
}
