.education {
  display: flex;
  flex-direction: column;
}
.education-item {
  display: grid;
  grid-template-columns: 100px minmax(0, 1fr) auto;
  column-gap: 24px;
  align-items: start;
  padding-bottom: 20px;
}
.education-item img {
  display: block;
}
.subheading {
  font-size: 30px;
  margin: 50px 0px 16px 0px;
  font-family: "Playfair Display", serif;
  color: var(--font-color);
}
.e-heading1 {
  font-size: 17px;
  margin: 15px 10px 8px 0px;
  color: var(--font-color);
}
.e-heading1-subheading {
  color: var(--subheading-color);
  font-size: 16px;
  margin: -1px 0px 2px 0px;
}
.right-allign {
  text-align: right;
}
.date {
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 8px;
  color: var(--font-color);
}
.city {
  font-size: 16px;
  text-align: right;
  color: var(--subheading-color);
}

.courses ul {
  list-style-type: disc;
  border-radius: 15px;
  padding: 12px 10px 10px 30px;
  /* margin: 12px 10px 12px 10px; */
  margin: 8px 0px 20px 0px;
  font-family: var(--font-family);
  font-size: 14px;
  width: 100%;
  line-height: 1.5;
  background: var(--description-color);
  color: var(--font-color);
}
