.subheading {
  font-size: 30px;
  margin: 50px 0px 16px 0px;
  font-family: "Playfair Display", serif;
  color: var(--font-color);
}
.heading1 {
  font-size: 16px;
  margin: 15px 10px 8px 0px;
  color: var(--font-color);
}
