.p-heading {
  font-size: 15px;
  margin: 0px 0px 5px 0px;
  font-family: var(--font-family);
  color: var(--font-color);
}
.p-subheading {
  color: var(--subheading-color);
  font-size: 15px;
  margin: 5px 0px 20px 0px;
  font-family: var(--font-family);
}
.paper {
  font-family: var(--font-family);
  font-size: 15px;
  color: var(--font-color);
}
