* {
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-size: 12px;
  font-family: var(--font-family);
  /*background-color: var(--background-color); /*Whole page color*/
}
.App {
  width: 800px;
  /*background-color: var(--background-color); */ /*color container*/
  font-family: var(--font-family);
}
.App-container {
  background-color: var(
    --background-color
  ); /*change this value for whole page color*/
  transition: background-color 0.9 ease-in-out;
  width: 100vw;
}
.container {
  width: 800px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /*color: blue; white;*/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
